@model PizzaBox.Client.Models.UserModel

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <i class='fas fa-user-check' id="icon" style='font-size:48px;color:red'></i>
    </div>
    <!-- Login Form -->
    <form action="/account/login" method="POST">
    @Html.AntiForgeryToken()
      <input type="text" id="username" class="fadeIn second" asp-for="@Model.UserName" placeholder="username" required>
      <input type="password" id="password" class="fadeIn third" asp-for="@Model.Password" placeholder="password" required>
     
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

     @* error message display section. *@
    <span class = "text-danger">
      @Html.ValidationMessageFor(User => User.UserName)
      @Html.ValidationMessageFor(User => User.Password)
      @ViewData["Error"]
      @ViewData["Success"]
    </span>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" asp-controller="Account" asp-action="Register">Register</a>
    </div>

  </div>
</div>