@model PizzaBox.Client.Models.UserLoginModel

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <i class='fas fa-user-check' id="icon" style='font-size:48px;color:red'></i>
      
   
    
    <!-- Login Form -->
    <form action="/account/login" method="POST">
        @* @foreach(var store in Stores)
        {
        <label class="btn btn-primary">
            @Html.RadioButtonFor(model => model.Type, "user", new {name="Type"}) @ViewData["store"]
        </label>
        } *@
    <div>
        <label class="btn btn-primary">
            @Html.RadioButtonFor(model => model.Type, "store", new {name="Type"}) Store
        </label>
      </div><br>
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

     @* error message display section. *@
    <span class = "text-danger">
      @Html.ValidationMessageFor(User => User.UserName)
      @Html.ValidationMessageFor(User => User.Password)
      @ViewData["Error"]
      @ViewData["Success"]
    </span>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a><br>
      <a class="underlineHover" asp-controller="Account" asp-action="Register">Register</a>
    </div>

  </div>
</div>