@model List<PizzaViewModel>

@{
  Layout = "_LogedLayout";
  ViewData["log"] = "Logout";
} 


<div class="container subpage">
  
  <div class="title">
    <p>Detail of the Order</p>
  </div>
  <table class="table">
    <thead class = "table-dark">
      <tr>
        <th scope="col">No:</th>
        <th scope="col">Pizza Name</th>
        <th scope="col">Pizza Size</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      @{
        decimal totprice = 0.0M;
        int idx = 1;
        decimal price = 0.0M;
      }
      @if(@Model != null)
      {
        @foreach(var order in @Model)
        { 
          if(order.SelectedPizza != null) //to avoid displaying empty fields after delete
          {
            if(order.SelectedSize.Equals("Large"))
            {
              price = 13.50M * order.Quantity;
              totprice += price;
            }else if(order.SelectedSize.Equals("Medium"))
            {
              price = 10.50M * order.Quantity;
              totprice += price;
              
            }else
            {
              price = 8.25M * order.Quantity;
              totprice += price;
            }

              <tr>
              <th scope="row">@idx</th>
              <td>@order.SelectedPizza</td>
              <td>@order.SelectedSize</td>
              <td>@order.Quantity</td>
              <td>$@price</td>
              <td><a href = "/pizza/orderdetails/@order.Id" class="fa fa-remove" style="font-size:28px;color:red"></a></td>
            </tr>
            idx ++;
          } 
        }
      }
    </tbody>
    <tfoot>
      <tr>
        <th>Total Price</th>
        <td></td>
        <td></td>
        <td></td>
        <td>$@totprice</td>
      </tr>
    </tfoot>
  </table>
  <a class = "btn btn-primary" href="/pizza/order">Add More</a>
  @* <p>@TempData["userid"]</p> *@
  <div style="padding: 3em;">
    
      <a class = "btn float-right btn-success" href = "/pizza/checkout/@totprice" style="width:100%" type="submit" value="checkout">Checkout</a>
    
  </div>
</div>

