@model List<PizzaViewModel>

<div class="container subpage">
  
  <div class="title">
    <p>Detail of the Order</p>
  </div>
  <table class="table">
    <thead class = "table-dark">
      <tr>
        <th scope="col">No:</th>
        <th scope="col">Pizza Name</th>
        <th scope="col">Pizza Size</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      @{
        decimal totprice = 0.0M;
        int idx = 1;
      }

      @foreach(var order in @Model)
      {
        decimal price = order.Price * order.Quantity;
        <tr>
          <th scope="row">@idx</th>
          <td>@order.SelectedPizza</td>
          <td>@order.SelectedSize</td>
          <td>@order.Quantity</td>
          <td>@price</td>
        </tr>
        idx ++;
      }
    </tbody>
    <tfoot>
      <tr>
        <th>Total Price</th>
        <td></td>
        <td></td>
        <td></td>
        <td>$@totprice</td>
      </tr>
    </tfoot>
  </table>
  <a class = "btn btn-primary" href="/pizza/order">Add More</a>
  <div style="padding: 3em;">
    <button class = "btn float-right btn-success" style="width:100%" type="submit" value="Order">Checkout</button>
  </div>
</div>