@model PizzaBox.Client.Models.UserModel
@{
  Layout = "_LogedLayout";
  ViewData["log"] = "Logout";
} 

<div class="container subpage">
  <div class="title">
  
  <h1 class="display-4">Welcome @Model.UserName.ToString().ToUpper() Choose your store</h1>
    
  </div>   
    <hr class="my-3"> 
    @foreach(var store in @Model.Stores)
    {
        <label class="btn " style="background-color: orange;">
            @Html.RadioButtonFor(s => s.Store, @store.Name)@store.Name
        </label><br><br>
    }
  <a href="/pizza/order/history" class="btn" style="font-size:28px;color:blue">Order History</a><br>
  <a href = "/pizza/order/" class="btn btn-float-right" style="font-size:28px;color:blue">Go to Order</a>
  @* @Html.ActionLink("Send", "order", "pizza", new {store = @Model.Store}, null) *@
</div> 
