@model PizzaBox.Client.Models.UserModel
@{
  Layout = "_LogedLayout";
  ViewData["log"] = "Logout";
} 

<div class="container subpage">
  <div class="title">
    <p>Choose your Store To Order From</p>
    <h1 class="display-4">Welcome @Model.UserName</h1>
  </div>   
    <hr class="my-3"> 
    @foreach(var store in @Model.Stores)
    {
        <label class="btn " style="background-color: orange;">
            @Html.RadioButtonFor(s => s.Store, @store.Name)@store.Name
        </label><br><br>
    }
  <a href="/pizza/order">Order History</a><br>
  @Html.ActionLink("Send", "order", "pizza", new {store = @Model.Store}, null)
</div> 
