@model PizzaBox.Client.Models.PizzaViewModel
@using PizzaBox.Domain.Models

  @if(@Model.Pizzas != null)
  {
    @foreach(var p in @Model.Pizzas)
    {
      <form action="/pizza/choo se" method = "post">
      <div class="col-md-4">
        <span class ="form-control" name="@Model.SelectedPizza" value="@p.Name">@p.Name </span>
        <select name="Sizes"  class="custom-select">
          @foreach (var size in @Model.Sizes)
          {
            <option value="@size" selected>@size.Name : $@size.Price</option>
            }
          }
        </select>
        @*Give quantity and return back the selected values*@
          Quantity: <input type="number" asp-for="@Model.Quantity"/>
          <button class = "btn-success" type="submit" value="Order">Add To Cart</button>
      </div>
      
    </form>
    }
   
  }
     <p>@ViewData["user"]</p>
    @* @{
    List<Pizza> lp = (List<Pizza>)@ViewData["pizza"];
      foreach (var item in lp)
      {
          <div>@item.Name</div>
      }
    }  *@
  
 
   
  

  