@model PizzaBox.Client.Models.PizzaViewModel

@* @{
  Layout = "~/View/Shared/_LogedLayout.cshtml";
  ViewData["Title"] = "";
} *@

<div class="container subpage">
  
  <div class="title">
    <p>Select your Order</p>
  </div>
  <form action="/pizza/order" method = "post">  
      <div class="formContent">
        
        <select asp-for="@Model.SelectedPizza" class="custom-select">
          @foreach (var pizza in @Model.Pizzas)
          {
            <option value="@pizza.Name" selected><strong>@pizza.Name</strong></option>
          }
        </select><br><br>
        
        <select asp-for="@Model.SelectedSize"  class="custom-select">
          @foreach (var size in @Model.Sizes)
          {
            <option value="@size.Name" selected>@size.Name : $@size.Price</option>
            @* <option value="@size.Name" selected>@size.Name</option> *@
            
          }
        </select>
        @*Give quantity and return back the selected values*@
          Quantity: <input type="number" placeholder = "1" min = "1" max="250" title="You can't order more than 250" asp-for="@Model.Quantity"/>
          <button class = "btn btn float-right btn-primary" type="submit" value="Order">Add To Cart</button>
          @Html.HiddenFor(s => s.Id, @Model.Id);
      </div>
     <br><br>
    </form>
  
     <p>@ViewData["pizza"]</p>
</div>
   
  

  